  	
        <div class="row centered-form">
            <div class="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center" style="font-weight: bold; font-size:20px;">Create a new article !</h3>
                    </div> 

<%= render :partial => 'news/editform' %>


<%= link_to 'Back', news_index_path %>