<div class="generalnews"><h3><img class="imgnews" src="assets/iconnews.png">Beauty News</h3>
	<img class="articlepicture" src="assets/picturebottom.jpg">
	<h4><%= @lastarticle.title %></h4><br/>
	<article><%= @lastarticle.content %></article>
</div>
<div class="relatednews">
	<h3><img class="imgnews" src="assets/iconnews.png">Latest News</h3>
	<br/>
	<div>
		<img class="latestnewsimg" src="assets/shellac.jpg">
		<p class="latestnewsp">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor t dolore magna aliqua. Ut 
		</p>
		<a class="latestnewsreadmore" href="#">Read More</a>
	</div>
	<img class="dividinglinenews" src="assets/dividingline.png">
	<div><img class="latestnewsimg" src="assets/shellac.jpg">
		<p class="latestnewsp">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor t dolore magna aliqua. Ut
		</p>
		<a class="latestnewsreadmore" href="#">Read More</a>
		</div>
		<img class="dividinglinenews" src="assets/dividingline.png">
	<div><img class="latestnewsimg" src="assets/shellac.jpg">
		<p class="latestnewsp">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor t dolore magna aliqua. Ut
		</p>
		<a class="latestnewsreadmore" href="#">Read More</a>
	</div>
</div>