<ul>
	<li class="widget">
		<div class="eachwidget"><img src="assets/Acrylic.jpg" width="20%"><h2>Acrylic Nails</h2><br /><br /><h5>Acrylic nails are made by mixing a liquid monomer and a powder polymer to create a hard protective layer over the natural nails. The acrylics harden only when they are exposed to air. They are also providing a perfect canvas for applying nail color.</br></br></br><div class="pricetag">
				Price: 40$
			</div></h5>
			
		</div>
	</li>
	<li class="widget"><div class="eachwidget"><img src="assets/gel.jpg" width="20%"><h2>Gel Nails</h2><br /><br /><h5>Gel nails are a type of artificial nails that most closely resembles the natural nail. Gel nails are similar to acrylic nails, as they are both made from a combination of a monomer liquid and polymer powder. Unlike acrylic nails, gel nails only harden when exposed to UV light.</br></br><div class="pricetag">
				Price: 30$
			</div></h5></div></li>
	<li class="widget"><div class="eachwidget"><img src="assets/manicure.jpg" width="20%"><h2>Manicure and Pedicure</h2><br /><br /><h5>A manicure consists of filing, shaping of the free edge, pushing (with cuticle pusher) and clipping (with cuticle nippers) any nonliving tissue (limited to cuticle and hangnails) from the nail plate, treatments, massage of the hand and the application of polish. When applied to the toenails and feet, this treatment is referred to as a pedicure.</br></br><div class="pricetag">
				Price: 30$
			</div></h5></div></li>
	<li class="widget"><div class="eachwidget"><img src="assets/shellac.jpg" width="20%"><h2>Shellac Nails</h2><br /><br /><h5>Shellac is the brand name for a new nail product created by Creative Nail Design. It is a hybrid, meaning half nail polish, half gel.
The product is thin and strong enough to be applied similarly to nail polish, but it is cured in a way that gives it great flexibility and durability. It also has the incredible shine associated only with gel nails.</br></br><div class="pricetag">
				Price: 30$
			</div></h5></div></li>
</ul>