/* line 4, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
body {
  background-color: #1d1a19;
}

/* line 7, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
a:link {
  text-decoration: none;
  color: inherit;
}

/* line 11, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.header {
  width: 990px;
  height: 185px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Noteworthy";
  background-image: url("header.jpg");
  position: relative;
}

/* line 21, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.nav {
  width: 935px;
  height: 45px;
  position: absolute;
  bottom: 0px;
  margin-left: 31px;
  margin-right: 0px;
  border-radius: 10px;
}

/* line 30, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.nav div {
  width: 186.4px;
  height: 37px;
  padding-top: 9px;
  float: left;
  background-image: url("menubuttonn.png");
  background-size: 186.4px 45px;
  color: white;
}

/* line 40, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.nav div:hover {
  background-image: url("menuover.png");
  width: 186.4px;
}

/* line 45, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.topphoto {
  width: 1041px;
  height: 337px;
  border-radius: 20px;
  border: 1px;
  border-color: black;
  border-style: solid;
  margin: auto;
  text-align: center;
}

/* line 55, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.topphoto img {
  border-radius: 15px;
}

/* line 58, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content, .contentt {
  width: 980px;
  height: 700px;
  background-image: url("backgroundtable.jpg");
  margin: auto;
  padding-top: 30px;
  border-radius: 0px 0px 10px 10px;
}
.slider1_container {
	border-radius: 40px;
}

/* line 66, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
#slider {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

/* line 71, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content h2 {
  font-size: 22px;
  padding-left: 30px;
  color: white;
}

/* line 76, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.contactdiv {
  color: green;
  font-size: 15px;
  padding-left: 30px;
  margin-top: 0px;
}

/* line 82, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.mapdiv {
  float: right;
  width: 100px;
  margin-top: -200px;
  padding-right: 450px;
}

/* line 88, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content ul li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
}

/* line 93, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content li img {
  border-radius: 10px;
  width: 160px;
  height: 130px;
  float: left;
}

/* line 100, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.eachwidget {
  margin-left: 50px;
  width: 800px;
  height: 130px;
  background-image: url("backgroundtable.jpg");
  border-radius: 0px;
}
.widget h5, h2 {
	color: #888888;
	font-family: "Ubuntu";
	font-weight: 400;
}
.eachwidget {
	border: 1px solid #252626;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:20px;	
	color: #fffeff;
	text-shadow: rgba(0,0,0,0.63) 1px 1px 1px;
	background-color: #2f3135;
	-webkit-background-clip: padding-box;
	margin: 0;
	display: inline-block;
	*display:inline;	
	line-height: 1;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	margin-bottom: 5px;
	margin-left: 50px;
}
.pricetag {
	border: 1px solid #252626;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:20px;	
	color: #fffeff;
	text-shadow: rgba(0,0,0,0.63) 1px 1px 1px;
	background-color: #2f3135;
	-webkit-background-clip: padding-box;
	display: inline-block;
	*display:inline;	
	line-height: 1;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 4px 10px 4px 10px;
}

/* line 118, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content div h2, h5 {
  width: 560px;
  position: absolute;
  margin-left: 190px;
  color: white;
  text-align: justify;
}

/* line 125, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content hr {
  margin-left: 20px;
  float: right;
  width: 750px;
  margin-right: 20px;
}

#leftcontent, #middlecontent, #rightcontent {
	width: 250px;
	height: 400px;
	float: left;
	margin: 10px 0px 0px 60px;
	color: #b3b3b3;
	text-align: justify;
	margin-bottom: 0px;
}

.mapdiv {
	margin-top: -100px;
	margin-left: 30px;
	width: 900px;
	float: left;
}

.mapdiv img, #leftcontent img, #middlecontent img, #rightcontent img {
	float: left;
	width: 30px;
	height: 30px;
	
}
.mapdiv span, #leftcontent span, #middlecontent span, #rightcontent span {
	float: left;
	color: white;
	line-height: 30px;
	margin-left: 10px;
	margin-bottom: 20px;
}
#contentnews {
	color: white;
	text-align: center;
}

#demo15 {
	position: relative;
	top: -170px;
	left: 38%;
	background: url("bookonline.png") no-repeat;
	width: 200px;
	height: 68px;
	background-size: 200px;
	border: 0;
}

/* line 132, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
#nailsart2 {
  border-radius: 10px;
  background-color: white;
  margin-left: 29px;
  border-width: 4px;
  border-style: ridge;
  border-color: #712340;
}

/* line 140, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
#p1 {
  float: right;
  width: 690px;
  height: 211px;
  padding-right: 30px;
  color: white;
  font-family: "Myriad Pro";
}

/* line 148, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item1 {
  width: 290px;
  height: 371px;
  background-color: #420B20;
  float: left;
  margin-left: 17px;
  border-style: solid;
  border-width: 4px;
  border-color: #712340;
  border-radius: 15px;
  color: white;
  text-align: justify;
}

/* line 161, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item1 p {
  padding: 0px 15px 15px 15px;
}

/* line 164, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item1 img {
  margin-left: 6px;
}

/* line 167, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item4 {
  width: 270px;
  height: 250px;
  background-color: white;
  float: left;
  margin: 30px 0px 0px 18px;
  border-radius: 15px;
  padding: 15px;
  text-align: justify;
}

/* line 177, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item5 img {
  margin: 30px 0px 0px 20px;
  float: left;
}

/* line 181, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item6 {
  float: left;
  margin: 30px 0px 0px 20px;
  color: white;
}

/* line 186, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.footer {
  height: 80px;
  color: white;
  margin: auto;
  margin-top: 5px;
}

/* line 193, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.galleryimg p {
  padding: 0px 5px 5px 5px;
  color: red;
}

/* line 197, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
#page_newsletter {
  border-radius: 10px;
}

