/* line 4, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
body {
  background-color: #1d1a19;
}

/* line 7, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
a:link {
  text-decoration: none;
  color: inherit;
}

/* line 11, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.header {
  width: 990px;
  height: 185px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  text-align: center;
  font-family: "Noteworthy";
  background-image: url("header.jpg");
  position: relative;
}

/* line 21, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.nav {
  width: 935px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  margin-left: 31px;
  margin-right: 0px;
  border-radius: 10px;
}

/* line 30, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.nav div {
  width: 186.4px;
  height: 37px;
  padding-top: 9px;
  float: left;
  background-image: url("menubuttonn.png");
  background-size: 186.4px 45px;
  color: white;
}

/* line 40, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.nav div:hover {
  background-image: url("menuover.png");
  width: 186.4px;
}
.header h3 {
  color: #c7b5c2;
  
  line-height: 3px;
  font-family: "BabyDoll", Georgia, Serif;
  font-size: 15px;
  text-align: justify;
  margin-left: 800px;
}
.callus {
  padding-top: 80px;
}
.bookonline strong {
  color: white;
}

/* line 45, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.topphoto {
  width: 1041px;
  height: 330px;
  border-radius: 17px;
  border: 1px;
  border-color: black;
  border-style: solid;
  margin: auto;
  text-align: center;
}

/* line 55, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.topphoto img {
  border-radius: 15px;
}

/* line 58, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content {
  width: 980px;
  height: 700px;
  background-image: url("backgroundtable.jpg");
  margin: 11px auto auto auto;
  padding-top: 30px;
  border-radius: 0px 0px 10px 10px;
  position: relative;
}
.slider1_container {
	border-radius: 40px;
}

/* line 66, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
#slider {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

/* line 71, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content h2 {
  font-size: 22px;
  padding-left: 30px;
  color: white;
}
.contentt {
  margin-top: -50px;
}
/* line 76, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.contactdiv {
  font-size: 15px;
  padding-left: 30px;
  margin-top: 0px;
}
/* line 93, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.widget img {
  border-radius: 10px;
  width: 160px;
  height: 100%;
  float: left;
}

/* line 100, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.eachwidget {
  margin-left: 50px;
  width: 80%;
  height: 121px;
  background-image: url("backgroundtable.jpg");
  border-radius: 0px;
}
.widget h5, h2 {
	color: #888888;
	font-family: "Ubuntu";
	font-weight: 400;
}
.eachwidget {
	border: 1px solid #252626;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:20px;	
	color: #fffeff;
	text-shadow: rgba(0,0,0,0.63) 1px 1px 1px;
	background-color: #2f3135;
	-webkit-background-clip: padding-box;
	margin: 0;
	display: inline-block;
	*display:inline;	
	line-height: 1;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	margin-bottom: 15px;
	margin-top: 0px;
  margin-left: 10%;
}
.pricetag {
	border: 1px solid #252626;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:20px;	
	color: #fffeff;
	text-shadow: rgba(0,0,0,0.63) 1px 1px 1px;
	background-color: #2f3135;
	-webkit-background-clip: padding-box;
	display: inline-block;
	*display:inline;	
	line-height: 1;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,254,255,0.1);
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 4px 10px 4px 10px;
}

/* News start */

.generalnews, .relatednews {
  float: left;
  height: 100%;
  margin-top: -25px;
}
.articlepicture {
  width: 40%;
  height: 40%;
  float: left;
  margin: 20px 20px 0px 30px;
  border-radius: 3%;
}
.generalnews {
  width: 69%;
  height: 100%;
}
.generalnews article {
  padding: 40px 20px 10px 30px;
  text-align: justify;
  color: #d0c6cd;
  font-family: "Noteworthy";
}
.relatednews {
  width: 31%;
}
.generalnews h4 {
  float: left;
  width: 300px;
  height: 30px;
  color: white;
}
.relatednews div {
  width: 100%;
  height: 24%;
  margin: 0px 0px -15px 0px;
  padding: 0px;
}
.imgnews {
  margin-right: 10px;

}
.latestnewsimg {
  width: 140px;
  border-radius: 2px;
  margin-right: 10px;
  float: left;
}
.latestnewsp, .latestnewsreadmore {
  padding: 0px 10px 0px 0px;
  text-align: left;
  color: #d0c6cd;
  font-family: "Noteworthy";
}
a.latestnewsreadmore:link, a.latestnewsreadmore:visited, a.latestnewsreadmore:active, a.latestnewsreadmore {
  float: right;
  margin-top: -12px;
  margin-right: 6px;
  color: #d0c6cd;
  font-size: 14px;
}
.dividinglinenews {
  margin-top: -5px;
  width: 95%
}
/* News end */

/* line 118, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content div h2, h5 {
  width: 560px;
  position: absolute;
  margin-left: 190px;
  margin-top: 10px;
  color: white;
  text-align: justify;
}

/* line 125, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.content hr {
  margin-left: 20px;
  float: right;
  width: 750px;
  margin-right: 20px;
}
.contactdiv {
  width: 100%;
  height: 87%;
  font-family: "Noteworthy";
}
.contactdiv p {
  color: #d0c6cd;
}
.contactdiv h3, .generalnews h3, .relatednews h3 {
  font-family: "AlienLeague";
  text-shadow: 2px 1px 4px #000000;
  font-size: 30px;
  text-indent: 15px;
  color: #f5edf0;
}
.tagimage {
  width: 30px;
  height: 30px;
  float: left;
}
.aboutus, .rightcontactus {
  width: 49%;
  height: 100%;
  float: left;
  margin-left: 5px;
  color: white;
}

.rightcontactus div {
  height: 27%;
  margin: 10px;
}

#demo15, #demo12 {
	background: url("bookonline.png") no-repeat;
  position: relative;
  display: block;
  top: 20%;
  margin-left: 20%;
	width: 200px;
	height: 49px;
	background-size: 200px;
	border: 0;
}
.specialoffersimg {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  width: 70px;
}
.whatsnew, .welcome, .specialoffers {
  width: 32%;
  height: 86%;
  float: left;
  margin: 6px;
  padding: 15px;
}
.whatsnew h3, .welcome h3, .specialoffers h3 {
  font-family: "AlienLeague";
  text-align: center;
  color: #f5edf0;
  font-size: 30px;
  margin: 0px;
  text-shadow: 2px 1px 4px #000000;
}

.homenews {
  height: 32%;
  color: white;
  padding: 10px;
  margin: 0px;
  font-family: "Noteworthy";
  font-size: 14px;
  color: #c5a6b3;
  position: relative;
}

.readmorebar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 96%;
}

.readmore {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 40%;
  float: right;
}

.firstimg {
  background-color: #5e3c52;
  width: 44%;
  height: 46%;
  float: left;
  border-radius: 15px;
  border: 0px;
  border-color: #5e3c52;
  margin: 4px;
}

/* WELCOME DIV START */
.welcome {
  height: 100%;
  font-size: 14px;
  padding: 10px;
  font-family: "Noteworthy";
  line-height: 160%;
  text-align: justify;
  color: #c5a6b3;
}
.topwelcome {
  position: relative;
  height: 59.6%;
}
.manicurepic {
  position: absolute;
  top: 20px;
  width: 94%;
  display: block;
  margin: 0px 9px 0px 9px;
}
.topwelcome p {
  position: absolute;
  bottom: 0px;
}
.welcomebar {
  display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0px;
    width: 96%;
}
.welcomesubscribe {
  height: 27%;
  padding-top: 10px;
}

/* WELCOME DIV END */

/* SPECIAL OFFERS START */

.specialoffers1 {
  position: relative;
  height: 22%;
  width: 100%;
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
  background-color: #ac718d;
}
.specialoffers1 img {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.readmoreoffers {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}


#logobottom {
  width: 300px;
  position: absolute;
  bottom: 88px;
  right: 0px;
}
.logobottombig {
  width: 25%;
}
.logobottomsmall {
  width: 10%;
}

/* SPECIAL OFFERS END */

/* line 148, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item1 {
  width: 290px;
  height: 371px;
  background-color: #420B20;
  float: left;
  margin-left: 17px;
  border-style: solid;
  border-width: 4px;
  border-color: #712340;
  border-radius: 15px;
  color: white;
  text-align: justify;
}

/* line 161, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item1 p {
  padding: 0px 15px 15px 15px;
}

/* line 164, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.item1 img {
  margin-left: 6px;
}

.footer {
  background-image: url("footer.jpg");
  height: 90px;
  width: 980px;
  position: absolute;
  bottom: 0px;
}
.footertitles1 { 
  width: 210px;
  margin: 15px -22px 0px 0px;
  margin-left: 70px;
  color: white;
  display: block;
  float: left;
  font-family: "BabyDoll";
  font-size: 18px;
}
.footertitles2 {
  color: white;
  font-family: "BabyDoll";
  font-size: 18px;
  float: left;
  width: 192px;
  margin: 15px -30px 0px 70px;
}
.footercontent div:not(:last-child) {
  width: 186px;
  height: 50px;
  color: white;
  display: block;
  float: left;
  font-family: "Arial Rounded MT Bold";
  font-size: 12px;
  margin: 0px 24px 0px 41px;
}
.footercontent div:last-child {
  width: 180px;
  height: 50px;
  color: white;
  display: block;
  float: left;
  font-family: "Arial Rounded MT Bold";
  font-size: 12px;
  margin: 0px 0px 0px 29px;
}
.footercontent div span {
  margin-right: 23px;
  float: right;
}
/* line 193, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
.galleryimg p {
  padding: 0px 5px 5px 5px;
  color: red;
}

/* line 197, /Users/alla/Documents/Projects/asnails/app/assets/stylesheets/pages.css.scss */
#page_newsletter {
  border-radius: 10px;
}

